
.navbar{
  box-shadow: 3px 3px 10px -2px;
  background-color: rgb(103, 22, 22);
  z-index: 1;
}
.brand{
  color: white;
  font-size: large;
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
}
.brn:hover{
  color: rgb(223, 150, 25);
}
.navbar-nav{
  margin-left: auto;
  font-weight: bold;
  margin-right: 20px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color:rgb(223, 150, 25); ;
}
#carouselExampleIndicators{
  box-shadow:3px 3px 10px -2px;
  margin:0px 10px;
}
.carousel-item img{
  height: 70vh;
}
.card{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.card img{
  width: 70px;
  height:70px;
}
.row div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer{
  background-color: rgb(103, 22, 22);
  padding: 10px;
  width: 100vw;
  display: inline-flex;
  align-items: center;
}
.amt{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 8px 20px;
  margin: 15px;
  margin-left: auto;
}
.orderbtn{
  margin-right: 20px;
}
.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}



